.img-show {
    height: 200px;
    position: absolute;
    bottom: 60px;
    left: 300px;
}


.show-container {

    height: 400px;
}

.blue-bar {
    height: 60px;
}

.info-container {
    width: 600px;
    margin: 0 auto;
}

.price-bar {
    height: 50px;
}

.footer-info {
    background-color: lightgray;

}